<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Magazin TeleX. Modele televizoare. Produse resigilate verificate. Returnarea produselor. Garantie 2 ani. Montarea gratis.">
        <meta name="keywords" content="televizor, Samsung, Philips, Bucuresti, lungime diagonala, transport prin curier, TeleX">
       
        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
        <title>Magazin TeleX - înregistrare </title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src=/resurse/js/inregistrare.js></script>
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
    <div class="afisaj">
        <h1>Inregistrare utilizator</h1>
        <% if(!locals.raspuns) { %>    

			<%-include("../fragmente/formular", {action: "/inregistrare"}) %>
        <% } %>
        
	<% if(locals.raspuns) { %>
	<%- locals.raspuns+"<br/>"%>
	<% } %>
	<% if(locals.err) { %>
	<%- locals.err %>
	<% } %>
    </div>
</main>

<footer>
    <%- include("../fragmente/footer") %>
</footer>

</body>
</html>