<!DOCTYPE html>
<html  lang="ro">
    <head>
        <!-- Meta descriere pentru motorul de căutare -->
        <meta name="description" content="Cofetaria Dulcelind - utilizatori.">
        <!-- Meta cuvinte cheie pentru motorul de căutare -->
        <meta name="keywords" content="cofetarie, Dulcelind, utilizatori">
        <!-- Link către fișierul CSS pentru stilizarea paginii -->
        <link rel="stylesheet" href="/resurse/css/useri.css" type="text/css" />
        <!-- Titlul paginii -->
        <title>Cofetăria Dulcelind - utilizatori</title>
        <!-- Include un fragment de cod HTML (head) dintr-un fișier extern -->
        <%- include("../fragmente/head") %>     
        <!-- Script JavaScript pentru funcționalități suplimentare -->
        <script type="text/javascript" src="/resurse/js/produse.js"></script>
    </head>
    <body>
    <!-- Include un fragment de cod HTML (header) dintr-un fișier extern -->
    <%- include("../fragmente/header") %>

    <main>
    <div class="afisaj">
        <!-- Titlu pentru secțiunea de utilizatori -->
        <h2>Useri</h2>

        <!-- Tabel pentru afișarea utilizatorilor -->
        <table id="useri">
          <tr>
            <!-- Anteturile coloanelor din tabel -->
            <th>id</th><th>Username</th><th>Nume</th><th>Prenume</th><th>Data</th><th>Rol</th>
          </tr>

          <!-- Iterare prin lista de utilizatori pentru a-i afișa în tabel -->
          <% for (var i = 0; i < useri.length; i++) { 
                if(useri[i].rol=="comun"){
                %>
                <!-- Rând pentru fiecare utilizator cu rolul "comun" -->
                <tr>
                  <!-- Celule care afișează informațiile utilizatorului -->
                  <td><%= useri[i].id %></td>
                  <td><%= useri[i].username %></td>
                  <td><%= useri[i].nume %></td>
                  <td><%= useri[i].email %></td>
                  <!-- Formatarea datei adăugării utilizatorului -->
                  <%  
                    d = new Date(useri[i].data_adaugare);
                    sir_data = `${d.getDate()}/${d.getMonth() + 1}/${d.getFullYear()} ${d.getHours()}:${d.getMinutes()}:${d.getSeconds()}`;
                  %>
                  <td><%=  sir_data %></td>
                  <td><%=  useri[i].rol %></td>
                </tr> 
                <% } %>            
          <% } %>
        </table>
        
        <!-- Formular pentru ștergerea unui utilizator -->
        <p>Sterge utilizator</p>
        <form id="sterge" method="post" action="/sterge_utiliz">
            <!-- Câmp pentru introducerea ID-ului utilizatorului de șters -->
            <label>
                Id: <input type="text" name="id_utiliz" value="">
            </label>
            
            <!-- Buton de trimitere a formularului -->
            <input type="submit" value="Submit">
        </form>
    </div>
</main>

    <!-- Include un fragment de cod HTML (footer) dintr-un fișier extern -->
    <%- include("../fragmente/footer") %>

</body>
</html>
